* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --background-color: #f0f2f5;
    --card-background: #fff;
    --primary-base: #045be6;
    --secondary-tints: #5f5f5f;
    --secondary-base: #777;
    --secondary-shade: #222;
    --tertiary-base: #41db51;

}

body {
    background: var(--background-color);
    font-family: 'Poppins', arial, sans-serif;
}
a {
    text-decoration: none;
}
header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card-background);
    padding: 6px 6%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.logo img {
    width: 30px;
    margin-right: 15px;
    display: block;
}
.navbar-center ul li {
    display: inline-block;
    list-style: none;
}
.navbar-center ul li a {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin: 5px 8px;
    padding-right: 5px;
}
.navbar-center ul li a img {
    width: 30px;
}
.nav-profile-img {
    width: 35px;
    border-radius: 50%;
}